<?php # -*- coding: utf-8 -*-
declare( strict_types = 1 );

/**
 * Plugin Name: {{package}}
 * Plugin URI:  TODO
 * Description: {{description}}
 * Version:     dev-master
 * Author:      Inpsyde GmbH
 * Author URI:  https://inpsyde.com/
 * License:     {{license}}
 * Text Domain: {{textdomain}}
 * Domain Path: /languages
 * Network:     TODO: Specify value 'true' or remove line
 */

namespace {{namespace}};
