<?php # -*- coding: utf-8 -*-

/**
 * Plugin Name: {{package}}
 * Description: {{description}}
 * Plugin URI:  TODO
 * Author:      Inpsyde GmbH
 * Author URI:  https://inpsyde.com/
 * Version:     dev-master
 * License:     {{license}}
 * Text Domain: {{textdomain}}
 */

namespace {{namespace}};