/**
 * Theme Name:  {{package}}
 * Theme URI:   TODO
 * Description: {{description}}
 * Author:      Inpsyde GmbH
 * Author URI:  http://inpsyde.com/
 * Version:     dev-master
 * Textdomain:  {{textdomain}}
 * License:     {{license}}
 */